# Godot 4+ specific ignores
.godot/
/android/
*.translations
project_time_traker.json
addons/gdpractice/**
addons/gdquest_colorpicker_presets/**
addons/gdquest_sparkly_bag/**
addons/gdquest_theme_utils/**
addons/project-time-tracker/**
addons/dev_time_tracker/**

